.Main {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, black 0%, rgb(185, 0, 0) 50%, black 110%);
    height: 100vh;
    overflow: auto; 
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.search-bar {
    margin-top: 50px;
    width: 280px;
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 16px;
    outline: none;
}

.search-bar::placeholder {
    color: #888;
}

.search-btn {
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: background-color 0.3s ease;
    
}

.search-btn:hover {
    background-color: #ff3333;
}

.genrelist {
    display: flex;
    flex-direction: column;
}

.banner {
        margin-left: 270px;
        width:calc(100% - 270px);
        padding: 20px;
 
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1380px;
}
.jogosdestaques{
    font-family: sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 270px;
}

.gamelist{
    font-family: sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 270px;
}

h1{
    color: white;
    font-family: sans-serif;
    margin-left: 300px;
}

.searchg{
    font-family: sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 210px;
    margin-top: -1350px;
}