* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: red; 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background: rgb(0, 0, 0);
  height: 8vh; 
  padding: 0 20px;
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 10; 
}


.logo a { 
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  transition: 0.3s;
}

.logo a:hover { 
  color: red;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 4px;
  margin-left: 43px;
}

.nav-list li a {
  color: white; 
  transition: 0.3s; 
}

.nav-list li a:hover {
  color: red; 
}


@media (max-width: 768px) {
  .nav-list {
    position: fixed; 
    top: 8vh; 
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: none; 
    padding: 20px 0; 
    z-index: 100; 
  }

  .nav-list li {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    font-size: 28px;
    color: white;
    z-index: 101; 
    transition: color 0.3s; 
  }

  .hamburger:hover {
    color: red; 
  }

  .nav-active {
    display: flex; 
    flex-direction: column;
  }
}


@media (min-width: 769px) {
  .hamburger {
    display: none;
  }
}
