.gencardgame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin: 20px; 
}

.gencard {
  background-color: #000000; 
  border-radius: 12px; 
  overflow: hidden; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  width: calc(25% - 20px); 
  margin: 10px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7); 
  position: relative; 
  padding: 10px; 
}

.gencard:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.9); 
}

.gengame-image {
  width: 100%; 
  height: 150px;
  object-fit: cover; 
  border-radius: 12px; 
}

.gengame-info {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  margin-top: 10px; 
}

.gengame-title {
  font-size: 20px; 
  margin: 5px 0; 
  color: #ffffff; 
}

#genmetacritic {
  font-weight: bold;
  background-color: #ff0000;
  border-radius: 4px;
}

.genrating {
  font-size: 16px; 
  color: #ffffff; 
}


@media (max-width: 1200px) {
  .gencard {
      width: calc(33.33% - 20px); 
  }
}

@media (max-width: 800px) {
  .gencard {
      width: calc(50% - 20px); 
  }
}

@media (max-width: 500px) {
  .gencard {
      width: 100%; 
  }
}


.custom-pagination {
  display: flex; 
  justify-content: center; 
  margin-top: 23px; 
}

.custom-pagination button {
  background-color: #1a1a1a; 
  color: rgb(255, 255, 255); 
  border: none; 
  border-radius: 4px; 
  padding: 10px 15px; 
  margin: 0 10px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  margin-top: -8px;
}

.custom-pagination button:hover {
  background-color: #ff0000; 
}

.custom-pagination button:disabled {
  background-color: #555; 
  cursor: not-allowed; 
}

.paginationnames{
  color: white;
}
